{% extends '::frontend.html.twig' %}
{% block title %}{{diska.izena}}{% endblock %}
{% block article %}
    <article id="diska">
        <div id="karatula-info">
            <div id="karatula">
                <!-- Por hacer que al pinchar en la caratula salga la galería y veas la portada y la contraportada -->
                <img id="karatula-img" class="argazki-estiloa" src="{{ asset(argazkien_direktorioa ~ diska.argazkiak[0].argazkia) }}"></img>
                <!--<span><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/down53.png") }}"></img></span>-->
                <span><a href={{diska.download}}><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/download7.png") }}"></img></a></span>
                <span><a href={{diska.bandcamp}}><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/bc.png") }}"></img></a></span>
                <span><a href={{diska.youtube}}><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/youtube3.png") }}"></img></a></span>
                <span><a href="{{ path('galeria_diska', {'slug': diska.slug}) }}"><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/images.png") }}"></img></a></span>
            </div>
            <div id="info-diska">
                <h1>{{diska.izena}} ({{diska.data | date("Y")}})</h1>
                <p>{{diska.testua}}</p>
            </div>
        </div>
        <hr>
        <div id="abestiak-diska">
            <h2>Tracklist</h2>
            <ul>
                {% for abestia in abestiak %}
                    <li>
                        <ul>
                            <li>{{loop.index}}. {{abestia.izena}} {{abestia.iraupena}} </li>
                            <li>
                                <div class="letra-ikusi">
                                    <img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/down.png") }}"></img>
                                </div>
                                <div class="letra-ezkutatu" style="display: none">
                                    <img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/up.png") }}"></img>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="letra">
                            <pre>{{abestia.letra}}</pre>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </article>
{% endblock %}
{% block aside %}
        <!-- <aside class="right">
            <h1>{{'menu.hurrengoak' | trans}}</h1>
        </aside> -->

{% endblock %}
