{% extends '::frontend.html.twig' %}
{% block title %}{{diska.izena}}{% endblock %}
{% block article %}
    <article id="diska">
        <div id="karatula">
            <!-- Por hacer que al pinchar en la caratula salga la galería y veas la portada y la contraportada -->
            <img id="karatula-img" class="argazki-estiloa" src="{{ asset(argazkien_direktorioa ~ diska.argazkiak[0].argazkia) }}"></img>
            <!--<span><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/down53.png") }}"></img></span>-->
            <span><img class="ikonoak" src="{{ asset(argazkien_direktorioa ~ "ikonoak/download7.png") }}"></img></span>
        </div>
        <div id="info-diska">
            <h1>{{diska.izena}}</h1>
            <!--<ul>
                <li>{{diska.data | date("Y-m-d")}}-ean argitaratua.</li>
                <li>{{diska.disketxea}}</li>
                <li>{{diska.iraupena}}</li>
            </ul>-->
            <p>{{diska.testua}}</p>
        </div>
        <div id="abestiak-diska">
            <ul>
                {% for abestia in abestiak %}
                    <li>
                        <ul>
                            <li>{{loop.index}}. {{abestia.izena}} {{abestia.iraupena}} </li>
                            <li>
                                <div class="letra-ikusi">Ge</div>
                                <div class="letra-ezkutatu" style="display: none">Gu</div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="letra">
                            <p>{{abestia.letra}}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </article>
{% endblock %}
{% block aside %}
        <aside class="right">
            <h1>{{'menu.hurrengoak' | trans}}</h1>
        </aside>

{% endblock %}
