{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.argazkiak' | trans}}{% endblock %}
{% block article %}

    <div id="galeria">
        <h1>{{obj.izena}}</h1>
            {% for argazkia in obj.argazkiak %}
                <a class="fancybox" rel="group" href="{{ asset(argazkien_direktorioa ~ argazkia.argazkia) }}" title="{{argazkia.slug}}"><img src="{{ asset(argazkien_direktorioa ~ argazkia.argazkia) }}" alt="{{argazkia.slug}}"></a>
            {% endfor %}
    </div>
{% endblock %}
{% block aside %}
            <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside>

           <!-- </div>-->
{% endblock %}





