{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.iraganekoak' | trans}}{% endblock %}
{% block article %}
            <section id="kontzertuak">
                    <h1>{{'menu.iraganekoak' | trans}}</h1>
                        <div class="kontz-urtea">
                            <h2 class="kontz-urtea">2014</h2>
                            <div id="kontz-2014-lista" style="display:none">
                                {% for kontzertua in kontzertuak2014 %}
                                    <ul class="kontz-list">
                                        <li class="kontz-data">{{kontzertua.data | date("m/d")}}</li>
                                        <li>{{kontzertua.izena}}, {{kontzertua.lekua}}</li>
                                        <!--<li>{{kontzertua.besteTaldeak}}</li>-->
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="kontz-urtea">
                            <h2 class="kontz-urtea">2013</h2>
                            <div id="kontz-2013-lista" style="display: none">
                                {% for kontzertua in kontzertuak2013 %}
                                    <ul class="kontz-list">
                                        <li class="kontz-data">{{kontzertua.data | date("m/d")}}</li>
                                        <li>{{kontzertua.izena}}, {{kontzertua.lekua}}</li>
                                        <!--<li>{{kontzertua.besteTaldeak}}</li>-->
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="kontz-urtea">
                            <h2 class="kontz-urtea">2012</h2>
                            <div id="kontz-2012-lista" style="display: none">
                                {% for kontzertua in kontzertuak2012 %}
                                    <ul class="kontz-list">
                                        <li class="kontz-data">{{kontzertua.data | date("m/d")}}</li>
                                        <li>{{kontzertua.izena}}, {{kontzertua.lekua}}</li>
                                        <!--<li>{{kontzertua.besteTaldeak}}</li>-->
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="kontz-urtea">
                            <h2>2011</h2>
                            <div id="kontz-2011-lista" style="display: none">
                                {% for kontzertua in kontzertuak2011 %}
                                    <ul class="kontz-list">
                                        <li class="kontz-data">{{kontzertua.data | date("m/d")}}</li>
                                        <li>{{kontzertua.izena}}, {{kontzertua.lekua}}</li>
                                        <!--<li>{{kontzertua.besteTaldeak}}</li>-->
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
            </section>
{% endblock %}
{% block aside %}
            <!--<aside class="right">
                <h1>Azken berriak</h1>
            </aside>
-->

{% endblock %}



