{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.kontaktua' | trans}}{% endblock %}
{% block article %}
        <article id="kontaktua">
            <h1>{{'menu.kontaktua' | trans}}</h1>
            <div id="kontaktua-form">
                <form id="form-kontaktua-ajax" action="{{ path('kontaktua') }}" method="post" {{ form_enctype(form) }} class="kontak-form">
                    {{ form_errors(form) }}

                    {{ form_row(form.izena) }}
                    {{ form_row(form.emaila) }}
                    {{ form_row(form.gaia) }}
                    {{ form_row(form.mezua) }}

                    {{ form_rest(form) }}

                    <input type="submit" value="{{'kontaktua.bidali' | trans}}" />
                </form>
            </div>

        </article>
{% endblock %}
{% block aside %}
<!--             <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside> -->
           <!-- </div>-->
{% endblock %}
