{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.berriak' | trans}}{% endblock %}
{% block article %}
        <section id="berriak">
            <h1>{{'menu.berriak' | trans}}</h1>
                {% for berria in berriak %}
                    <article class="artikuluak">
                        <header>
                            <h1><a href="{{ path('berria', {'id': berria.id}) }}">{{berria.titularra}}</a></h1>
                            <h3>{{berria.data | date("Y-m-d")}}</h3>
                        </header>
                            <div class="berria-argazki">
                                <img class="cover" src="{{ asset(argazkien_direktorioa ~ berria.argazkiak[0].argazkia) }}"></img>
                            </div>
                            <div class="berria-testua">
                                <p>{{berria.testua}}</p>
                            </div>
                    </article>
                {% endfor %}
        </section>
{% endblock %}
{% block aside %}

           <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
                {% for kontzertua in kontzertuak %}
                    <ul>
                        <li><p>{{kontzertua.data |date("Y-m-d") }} {{kontzertua.lekua}}</p>
                            {% if loop.last == false %}
                                <hr>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </aside>
{% endblock %}